*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/app/build
old_app/build/
.kotlin/
keystore.properties
*.jks

fajrloop.jks

keystore.properties

KEYSTORE_INFO.txt

mockkeystore.jks
